@import "tailwindcss";

@theme {
  /* font family */
  --font-sans: "SUIT", sans-serif;

  /* font size */
  --text-30: min(3vw, 18px);
  --text-40: min(4vw, 20px);
  --text-60: min(5vw, 25px);
  --text-80: min(5.5vw, 35px);

  /* border */
  --border-mdev: 0.3px;

  /* color */
  --color-hot-brand: #ed0804;
  --color-mdev-white: #fff;
  --color-mdev-black: #000;
  --color-mdev-gray-e: #eee;
  --color-mdev-gray-d: #ddd;
  --color-mdev-gray-a: #aaa;
  --color-mdev-blue: #0059ff;
  --color-mdev-red: #ff0000;
  --color-mdev-green: #aed400;
  --color-mdev-orange: #d47c00;
  --color-mdev-success: #aed400;
  --color-mdev-fail: #d47c00;

  /* animation */
  @keyframes svg_blink {
    0% {
      fill: #fff5da;
    }
    50% {
      fill: #f3bc1e;
    }
    100% {
      fill: #fff5da;
    }
  }
  --animate-blink: svg_blink 1s linear infinite;
}

@layer components {
  body {
    @apply font-sans;
  }

  /* main - intro/play/ending/dying */
  [data-page-wrap] [data-page] {
    display: none;
  }
  [data-page-wrap="intro"] [data-page="intro"],
  [data-page-wrap="play"] [data-page="play"],
  [data-page-wrap="eat"] [data-page="eat"],
  [data-page-wrap="eat_result"] [data-page="eat_result"],
  [data-page-wrap="sleep"] [data-page="sleep"],
  [data-page-wrap="dying"] [data-page="dying"],
  [data-page-wrap="ending"] [data-page="ending"] {
    display: block;
  }

  /* play - hasu/joongsu/gosu */
  [data-play-wrap] [data-play] {
    display: none;
  }
  [data-play-wrap="hasu"] [data-play="hasu"],
  [data-play-wrap="joongsu"] [data-play="joongsu"],
  [data-play-wrap="gosu"] [data-play="gosu"] {
    display: block;
  }

  /* eat - drink/hamburger/piza */
  [data-eat-wrap] [data-eat] {
    display: none;
  }
  [data-eat-wrap="drink"] [data-eat="drink"],
  [data-eat-wrap="hamburger"] [data-eat="hamburger"],
  [data-eat-wrap="piza"] [data-eat="piza"] {
    display: block;
  }

  /* sleep - hasu/joongsu/gosu */
  [data-sleep-wrap] [data-sleep] {
    display: none;
  }
  [data-sleep-wrap="hasu"] [data-sleep="hasu"],
  [data-sleep-wrap="joongsu"] [data-sleep="joongsu"],
  [data-sleep-wrap="gosu"] [data-sleep="gosu"] {
    display: block;
  }

  /* button */
  [data-btn] {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3% 2%;
    border: var(--border-mdev) solid var(--color-mdev-black);
    border-radius: 1vw;
    background-color: var(--color-mdev-white);
    color: var(--color-mdev-black);
    font-size: var(--text-40);
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }

  /* button - hover */
  [data-btn]:hover {
    background-color: var(--color-mdev-black);
    color: var(--color-mdev-white);
  }

  /* border */
  .mdev_border {
    border: var(--border-mdev) solid var(--color-mdev-black);
  }

  .mdev_radius {
    border-radius: 1vw;
  }

  /* layout */
  .mdev_layout {
    .mdev_layout_inner {
      @apply w-full;
    }
    .mdev_layout_top {
      @apply flex justify-between items-center px-[20px] h-[60px] box-border content-center;
      &.mdev_right {
        @apply justify-end;
      }
      .mdev_layout_title {
        @apply text-60 font-bold leading-none;
      }
    }
    .mdev_layout_center {
      @apply w-[calc(100%-40px)] mx-[20px] h-[70vw];
      border: var(--border-mdev) solid var(--color-mdev-black);
    }
    .mdev_layout_bottom {
      @apply flex justify-between gap-[1%] min-h-[90px] p-[20px] text-[0px];
      &.mdev_right {
        @apply justify-end;
      }
    }
  }

  @media (min-width: 500px) {
    .mdev_layout {
      @apply w-[500px] mx-auto flex items-center justify-center h-dvh;

      .mdev_layout_center {
        @apply h-[380px];
      }
    }
  }
}
